############
# basic node
############
node_modules/
.env*
##################
# specific recalls
##################
.vscode/
.personal/
__*/
.hintrc
.uploads
.tmp
.DS_Store
.code-workspace
postman
############
# Inclusions
############
!.env.example
